.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'PT Serif', serif;
}

.non-display {
  display: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.link:visited {
  color: currentColor;
}

.link:focus {
  font-weight: bold;
}

.link:hover {
  color: hsl(270deg, 90%, 20%);
}

.list {
  padding: 0;
  list-style: none;
}
